<div class="container">
  <div class="row">
    <div class="col-lg-8 pt-4">
      <div class="p-3">
        <h2 class="font-bold">Settings</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="border-bottom mb-3 pt-4 pb-2">
            <span class="nav-link font-medium text-md fw-semibold">Account</span>
          </div>

          <div class="pt-2">
            <div class="field">
              <button type="button" class="btn btn-white d-flex flex-row w-100 justify-content-between align-items-center p-0 pointer" data-bs-toggle="modal" data-bs-target="#modalUser">
                <%= f.label "Email adress", :class => "text-md pointer" %><br />
                <% f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
                <p class="text-md text-secondary pointer">
                  <%= current_user.email %>
                </p>
              </button>
            </div>

            <div class="field mt-2">
              <button type="button" class="btn btn-white d-flex flex-row w-100 justify-content-between align-items-center p-0 pointer" data-bs-toggle="modal" data-bs-target="#modalUsername">
                <div class="d-flex flex-column align-items-start">
                  <%= f.label "Profile information", :class => "text-md pointer" %>
                  <small class="text-secondary text-sm">Edit your photo, email, bio, etc.</small>
                </div>
                <% f.text_field :username, autocomplete: "username", :class => "form-control" %>
                <p class="text-md text-secondary pointer">
                  <%= current_user.username %>
                </p>
              </button>
            </div>

            <div class="field mt-2">
              <button type="button" class="btn btn-white d-flex flex-row w-100 justify-content-between align-items-center p-0" data-bs-toggle="modal" data-bs-target="#modalCourse">
                <div class="d-flex flex-column align-items-start">
                  <%= f.label "Current course", :class => "text-md pointer" %>
                </div>
                <% f.select :course, options_for_select(User.courses.keys.map { |c| [c.humanize, c] }), {}, class: 'form-select', autocomplete: "course"  %>
                <p class="text-md text-secondary pointer">
                  <%= current_user.course.humanize %>
                </p>
              </button>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>        

            <!-- div class="field mt-2">
              <%= f.label :current_password, :class => "text-md" %> <small>(we need your current password to confirm your changes)</small><br />
              <%= f.password_field :current_password, :class => "form-control" %>
            </!-->

            <a class="btn btn-white btn-sm ps-0 " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Change password?
            </a>

            <div class="collapse" id="collapseExample">
              <div class="card card-body border-0 p-0">
                <div class="field mt-2">
                  <%= f.label :password, :class => "text-md" %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
                  <% if @minimum_password_length %>
                    <small><%= @minimum_password_length %> characters minimum</small>
                  <% end %>
                </div>

                <div class="field mt-2">
                  <%= f.label :password_confirmation, :class => "text-md" %><br />
                  <%= f.password_field :password_confirmation, :class => "form-control" %>
                </div>
              </div>
            </div>  

            <div class="actions mt-2 border-bottom pb-4">
              <% f.submit "Update", :class => "btn btn-dark font-medium text-md"  %>
            </div>

            <div class="d-flex flex-row justify-content-between">
              <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-white text-md text-danger p-0 mt-3 mb-0" %>
            </div>
            <p class="text-sm mb-2">Deactivating will suspend your account until you sign back in.</p>
            <% link_to "Back", :back, :class => "btn btn-outline-dark btn-sm text-sm" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 border-start pt-4">
      <div class="p-3">
        <div class="d-block" style="width: 88px; height: 88px;">
          <% if current_user.image.attached? %>
            <%= image_tag(current_user.image, style:"height: 88px; width: 88px; border-radius: 50%; object-fit: cover;") %>
          <% else %>
            <i class="bi bi-person fs-1"></i>
          <% end %>
        </div>
        <p class="text-lg font-semibold mt-2 mb-0"><%= current_user.username %></p>
        <p class="text-md mt-0 fst-italic"><%= current_user.course.humanize %></p>
        <p class="text-md mt-2"><%= current_user.bio %></p>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-signin position-asbolute py-5 fade" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow border-0">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Email address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="pt-2">
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
              <p class="text-sm">You can sign into Study Sphere with this email address.</p>
            </div>
          </div>
          <div class="field mt-2 flex-column d-flex">
            <%= f.label :current_password, :class => "text-md mb-0" %>
            <small class="text-sm">(we need your current password to confirm your changes)</small>
            <%= f.password_field :current_password, :class => "form-control" %>
          </div>
          <div class="actions mt-4 d-flex flex-row justify-content-end">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit "Save", :class => "btn btn-dark font-medium text-md ms-2"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-signin position-asbolute py-5 fade" tabindex="-1" role="dialog" id="modalUsername">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow border-0">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Profile information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="d-flex align-items-center">
            <div style="width: 88px; position: relative;" class="d-flex flex-column">
              <%= f.label "Photo", :class => "text-md mb-0" %>
              <% if current_user.image.attached? %>
                <%= image_tag(current_user.image, style:"height: 88px; width: 88px; border-radius: 50%; object-fit: cover;") %>
              <% else %>
                <i class="bi bi-person fs-2"></i>
              <% end %>
              <%= f.file_field :image, autofocus: true, autocomplete: "username", :style => "opacity: 0; position: absolute; left: 0; width: 88px; height: 88px; border-radius: 50%;" %>
            </div>
            <p class="text-sm ps-3">Recommended: Square JPG, PNG, at least 1,000 pixels per side.</p>
          </div>
          <div class="mt-2">
            <div class="field">
              <%= f.label "Your Name", :class => "text-md mb-0" %>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => "form-control", :placeholder => "Your name" %>
              <p class="text-sm">Appears on your Profile page, as your byline, and in your responses.</p>
            </div>
          </div>
          <div class="pt-1">
            <div class="field">
              <%= f.label "Bio", :class => "text-md mb-0" %>
              <%= f.text_field :bio, autofocus: true, autocomplete: "bio", :class => "form-control", :placeholder => "Bio" %>
              <p class="text-sm">Appears on your Profile and next to your stories.</p>
            </div>
          </div>
          <div class="field mt-2 flex-column d-flex">
            <%= f.label :current_password, :class => "text-md mb-0" %>
            <small class="text-sm">(we need your current password to confirm your changes)</small>
            <%= f.password_field :current_password, :class => "form-control" %>
          </div>
          <div class="actions mt-4 d-flex flex-row justify-content-end">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit "Save", :class => "btn btn-dark font-medium text-md ms-2"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-signin position-asbolute py-5 fade" tabindex="-1" role="dialog" id="modalCourse">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow border-0">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Change Course</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="pt-2">
            <div class="field">
              <%= f.select :course, options_for_select(User.courses.keys.map { |c| [c.humanize, c] }), {}, class: 'form-select', autocomplete: "course"  %>
              <p class="text-sm">Appears on your Profile page, as your byline, and in your responses.</p>
            </div>
          </div>
          <div class="field mt-2 flex-column d-flex">
            <%= f.label :current_password, :class => "text-md mb-0" %>
            <small class="text-sm">(we need your current password to confirm your changes)</small>
            <%= f.password_field :current_password, :class => "form-control" %>
          </div>
          <div class="actions mt-4 d-flex flex-row justify-content-end">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit "Save", :class => "btn btn-dark font-medium text-md ms-2"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>