<div class="container">
  <div class="row">
    <div class="col-lg-8 pt-4">
      <div class="p-3">
        <h2 class="font-bold">Edit my account</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
          </div>

          <div class="field mt-2">
            <%= f.label :username %><br />
            <%= f.text_field :username, autocomplete: "username", :class => "form-control" %>
          </div>

          <div class="field mt-2">
            <%= f.label :course %><br />
            <%= f.text_field :course, autocomplete: "course", :class => "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>        

          <div class="field mt-2">
            <%= f.label :current_password %> <small>(we need your current password to confirm your changes)</small><br />
            <%= f.password_field :current_password, :class => "form-control" %>
          </div>

          <a class="btn btn-white btn-sm ps-0 " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Change password
          </a>

          <div class="collapse" id="collapseExample">
            <div class="card card-body border-0 p-0">
              <div class="field mt-2">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
                <% if @minimum_password_length %>
                  <small><%= @minimum_password_length %> characters minimum</small>
                <% end %>
              </div>

              <div class="field mt-2">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, :class => "form-control" %>
              </div>
            </div>
          </div>  

          <div class="actions mt-2">
            <%= f.submit "Update", :class => "btn btn-dark font-medium text-md"  %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 border-start pt-4">
      <div class="p-3">
        <p class="text-lg font-semibold mt-2">Cancel my account</p>
        <p class="text-md mb-2">Unhappy?</p>
        <div class="d-flex flex-row justify-content-between">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-dark btn-sm text-sm" %>
          <%= link_to "Back", :back, :class => "btn btn-outline-dark btn-sm text-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>
